# 1. 데이터 전처리

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel('Carsharing_data(탑승내역).xlsx')
print(df.shape)
df.head()

(83083, 48)

,예약번호,차종,차량번호,대여존,단지구분,단지유형,차량연식,등급,아이디,생년월일,...,총요금,예약요금,연장요금,반납지연요금,거리요금,취소패널티,수동결제금액,원예약요금,쿠폰,쿠폰번호
0,2016122100099,모닝,20호8555,서울번동3,LH,영구,2016.10,GRDA05,jjy2837,1968-04-07,...,47760,47760,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
1,2016122600058,모닝,29호3884,서울월계1,LH,영구,2016.10,GRDA02,cholong119,1988-02-05,...,45000,45000,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
2,2016123100078,모닝,20호8555,서울번동3,LH,영구,2016.10,GRDA05,jjy2837,1968-04-07,...,105210,47760,NaN,NaN,57450.0,0.0,NaN,NaN,NaN,NaN
3,2017010100002,K3,10호7524,인천소래3,LH,국민,2015.08,GRDA06,youmi0217,1988-02-17,...,25770,13200,3930.0,NaN,8640.0,0.0,NaN,NaN,NaN,NaN
4,2017010100004,모닝,36하1412,평택반지1,LH-철수,국민,2016.12,GRDA02,yunseo1115,1983-11-15,...,21150,12300,NaN,NaN,8850.0,0.0,NaN,NaN,NaN,NaN

In [3]:
df_ = pd.read_excel('Carsharing_data(회원정보).xlsx')
print(df_.shape)
df_.head()

(24523, 27)

,아이디,가입일,정회원인증일,회원등급,멤버쉽,가입요일,가입년,가입월,가입주,가입년월,...,생년월,성별,BIRTHDAY,ADDR,거주단지,세대수,입주개시일,단지 구분,단지 유형,영구혼합여부
0,jjin85,2017-12-31 21:53,2018-01-02 15:09,정회원,GRDA02,1,2017,12,52,17/12,...,85/12,여,1985-12-18,"서울특별시 송파구 백제고분로19길 30-9 (잠실동, 새서울하우스) 501호",대구금호천년나무5,1252.0,2017-01-10 00:00:00,LH,국민,순수 국민
1,ataumuna,2017-12-31 19:01,2018-01-01 15:12,준회원,GRDA02,1,2017,12,52,17/12,...,86/10,여,1986-10-23,서울특별시 성북구 인촌로7가길 56 (안암동2가) 103호,고려대 하나스퀘어,0.0,00:00:00,민간,민간,민간
2,dbsgml7788,2017-12-31 17:53,NaN,준회원,GRDA01,1,2017,12,52,17/12,...,93/03,여,1993-03-03,경기도 고양시 덕양구 원흥동 669 삼송마을14단지아파트 14단지 1403 동106,고양삼송14,930.0,2014-09-15 00:00:00,LH,국민,순수 국민
3,1004dyddlf,2017-12-31 17:26,2017-12-31 17:29,정회원,GRDA02,1,2017,12,52,17/12,...,90/08,남,1990-08-12,"대구광역시 북구 내곡로 15 (사수동, 대구금호엘에이치천년나무8단지) 802동809호",대구금호천년나무8,1022.0,2016-05-24 00:00:00,LH,국민,순수 국민
4,sss908,2017-12-31 15:36,2018-01-02 15:10,정회원,GRDA02,1,2017,12,52,17/12,...,89/03,남,1989-03-03,울산광역시 남구 야음동 564-4 우방유화아파트 101동 908호,고양삼송원흥11(행복주택),832.0,2016-12-28 00:00:00,LH,행복,행복

In [4]:
df.columns

Index(['예약번호', '차종', '차량번호', '대여존', '단지구분', '단지유형', '차량연식', '등급', '아이디',
       '생년월일', '연령', '성별', '거주단지', '가입일시', '가입년월', '예약일시', '예약시작', '예약종료',
       'Year', 'Month', 'Day', 'Week', 'Date', '시작월', '시작주', '시작일', '시작시',
       '시작시분', '예약분', '예약시간 (시)', '예약상태', '사용시작', '사용종료', '종료요일', '예약대기시간 (시)',
       '이용시간 (시)', '시간요금', '이용거리', '총요금', '예약요금', '연장요금', '반납지연요금', '거리요금',
       '취소패널티', '수동결제금액', '원예약요금', '쿠폰', '쿠폰번호'],
      dtype='object')

In [5]:
df_.columns

Index(['아이디', '가입일', '정회원인증일', '회원등급', '멤버쉽', '가입요일', '가입년', '가입월', '가입주',
       '가입년월', '가입년주', '인증소요시간', '누적이용금액', '최초 탑승일시', '최근 탑승일시', '가입후 몇시간',
       '인증후 몇시간', '생년월', '성별', 'BIRTHDAY', 'ADDR', '거주단지', '세대수', '입주개시일',
       '단지 구분', '단지 유형', '영구혼합여부'],
      dtype='object')

# 2. 데이터 병합
1. concat: 데이터 프레임 두 개를 단순히 합칠 때 사용한다.
2. merge: concat이 단순히 두 데이터 프레임을 합치는 거라면, merge는 두 데이터 프레임을 공통된 항목을 기준으로 합치는 것이다.
 - inner: 두 데이터 프레임의 교집합을 출력
 - left: 두 데이터 프레임의 교집합뿐만 아니라, 왼쪽 데이터 프레임에는 있고 오른쪽 데이터 프레임에는 없는 정보도 모두 출력한다.

In [6]:
result01 = pd.merge(df, df_, on = '아이디', how = 'left')
print(result01.shape)
result01.head()

(83083, 74)

,예약번호,차종,차량번호,대여존,단지구분,단지유형,차량연식,등급,아이디,생년월일,...,생년월,성별_y,BIRTHDAY,ADDR,거주단지_y,세대수,입주개시일,단지 구분,단지 유형,영구혼합여부
0,2016122100099,모닝,20호8555,서울번동3,LH,영구,2016.10,GRDA05,jjy2837,1968-04-07,...,68/04,남,1968-04-07,서울특별시 강북구 번3동 주공아파트 206동 704호,서울번동3,1292.0,1990-10-27 00:00:00,LH,영구,순수 영구
1,2016122600058,모닝,29호3884,서울월계1,LH,영구,2016.10,GRDA02,cholong119,1988-02-05,...,88/02,여,1988-02-05,서울특별시 노원구 월계2동 월계주공1단지아파트 107-516,서울월계1,2298.0,1992-11-10 00:00:00,LH,영구,순수 영구
2,2016123100078,모닝,20호8555,서울번동3,LH,영구,2016.10,GRDA05,jjy2837,1968-04-07,...,68/04,남,1968-04-07,서울특별시 강북구 번3동 주공아파트 206동 704호,서울번동3,1292.0,1990-10-27 00:00:00,LH,영구,순수 영구
3,2017010100002,K3,10호7524,인천소래3,LH,국민,2015.08,GRDA06,youmi0217,1988-02-17,...,88/02,여,1988-02-17,인천광역시 남동구 앵고개로815번길 22 소래휴먼시아3단지321동201호,인천소래3,2026.0,2010-12-16 00:00:00,LH,국민,순수 국민
4,2017010100004,모닝,36하1412,평택반지1,LH-철수,국민,2016.12,GRDA02,yunseo1115,1983-11-15,...,83/11,여,1983-11-15,"경기도 평택시 이충로 38 (이충동, 반지마을주공아파트) 103-1605",평택반지1,879.0,2006-05-18 00:00:00,LH-철수,국민,순수 국민

In [7]:
result01.columns

Index(['예약번호', '차종', '차량번호', '대여존', '단지구분', '단지유형', '차량연식', '등급', '아이디',
       '생년월일', '연령', '성별_x', '거주단지_x', '가입일시', '가입년월_x', '예약일시', '예약시작',
       '예약종료', 'Year', 'Month', 'Day', 'Week', 'Date', '시작월', '시작주', '시작일',
       '시작시', '시작시분', '예약분', '예약시간 (시)', '예약상태', '사용시작', '사용종료', '종료요일',
       '예약대기시간 (시)', '이용시간 (시)', '시간요금', '이용거리', '총요금', '예약요금', '연장요금',
       '반납지연요금', '거리요금', '취소패널티', '수동결제금액', '원예약요금', '쿠폰', '쿠폰번호', '가입일',
       '정회원인증일', '회원등급', '멤버쉽', '가입요일', '가입년', '가입월', '가입주', '가입년월_y', '가입년주',
       '인증소요시간', '누적이용금액', '최초 탑승일시', '최근 탑승일시', '가입후 몇시간', '인증후 몇시간', '생년월',
       '성별_y', 'BIRTHDAY', 'ADDR', '거주단지_y', '세대수', '입주개시일', '단지 구분', '단지 유형',
       '영구혼합여부'],
      dtype='object')

__[중복 데이터 삭제]__  
- rename columns: '성별_x','거주단지_x','가입년월_x'  
- drop columns: '가입년월_y','성별_y','거주단지_y'

In [8]:
result02 = result01.drop(columns = ['가입년월_y','성별_y','거주단지_y'])
result03 = result02.rename({'성별_x':'성별', '거주단지_x':'거주단지', '가입년월_x':'가입년월'})
print(result03.shape)

(83083, 71)

In [9]:
result03.head()

,예약번호,차종,차량번호,대여존,단지구분,단지유형,차량연식,등급,아이디,생년월일,...,가입후 몇시간,인증후 몇시간,생년월,BIRTHDAY,ADDR,세대수,입주개시일,단지 구분,단지 유형,영구혼합여부
0,2016122100099,모닝,20호8555,서울번동3,LH,영구,2016.10,GRDA05,jjy2837,1968-04-07,...,19307.0,18644.0,68/04,1968-04-07,서울특별시 강북구 번3동 주공아파트 206동 704호,1292.0,1990-10-27 00:00:00,LH,영구,순수 영구
1,2016122600058,모닝,29호3884,서울월계1,LH,영구,2016.10,GRDA02,cholong119,1988-02-05,...,4827.0,1069.0,88/02,1988-02-05,서울특별시 노원구 월계2동 월계주공1단지아파트 107-516,2298.0,1992-11-10 00:00:00,LH,영구,순수 영구
2,2016123100078,모닝,20호8555,서울번동3,LH,영구,2016.10,GRDA05,jjy2837,1968-04-07,...,19307.0,18644.0,68/04,1968-04-07,서울특별시 강북구 번3동 주공아파트 206동 704호,1292.0,1990-10-27 00:00:00,LH,영구,순수 영구
3,2017010100002,K3,10호7524,인천소래3,LH,국민,2015.08,GRDA06,youmi0217,1988-02-17,...,16818.0,-11660.0,88/02,1988-02-17,인천광역시 남동구 앵고개로815번길 22 소래휴먼시아3단지321동201호,2026.0,2010-12-16 00:00:00,LH,국민,순수 국민
4,2017010100004,모닝,36하1412,평택반지1,LH-철수,국민,2016.12,GRDA02,yunseo1115,1983-11-15,...,271.0,271.0,83/11,1983-11-15,"경기도 평택시 이충로 38 (이충동, 반지마을주공아파트) 103-1605",879.0,2006-05-18 00:00:00,LH-철수,국민,순수 국민

In [10]:
result03.columns

Index(['예약번호', '차종', '차량번호', '대여존', '단지구분', '단지유형', '차량연식', '등급', '아이디',
       '생년월일', '연령', '성별_x', '거주단지_x', '가입일시', '가입년월_x', '예약일시', '예약시작',
       '예약종료', 'Year', 'Month', 'Day', 'Week', 'Date', '시작월', '시작주', '시작일',
       '시작시', '시작시분', '예약분', '예약시간 (시)', '예약상태', '사용시작', '사용종료', '종료요일',
       '예약대기시간 (시)', '이용시간 (시)', '시간요금', '이용거리', '총요금', '예약요금', '연장요금',
       '반납지연요금', '거리요금', '취소패널티', '수동결제금액', '원예약요금', '쿠폰', '쿠폰번호', '가입일',
       '정회원인증일', '회원등급', '멤버쉽', '가입요일', '가입년', '가입월', '가입주', '가입년주', '인증소요시간',
       '누적이용금액', '최초 탑승일시', '최근 탑승일시', '가입후 몇시간', '인증후 몇시간', '생년월', 'BIRTHDAY',
       'ADDR', '세대수', '입주개시일', '단지 구분', '단지 유형', '영구혼합여부'],
      dtype='object')